* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgba(30, 30, 47, 0.9);
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    color: #ffcc00;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

nav ul li a:hover {
    background: #ffcc00;
    color: black;
}

nav ul li a.active {
    background: #ffcc00;
    color: black;
}

#theme-toggle {
    padding: 6px 12px;
    border: none;
    background: #ffcc00;
    cursor: pointer;
    border-radius: 5px;
}

.welcome-box {
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    text-align: center;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
}

.welcome-box h1 {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border: 2px solid #ff4d4d;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.welcome-box p {
    color: #ddd;
}
body {     background: url("../images/a.jpeg") no-repeat center center fixed; 
           background-size: cover;
           min-height: 100vh;}
